/*
    https://create-react-app.dev/docs/adding-a-sass-stylesheet
    https://create-react-app.dev/docs/adding-bootstrap/
*/

// https://eduardoboucas.github.io/include-media/
@import "~include-media/dist/_include-media.scss";
@import "~bootstrap/scss/bootstrap";

/* General
************************************************************** */
textarea {
  resize: none;
}
#preview {
  overflow-x: hidden;
}

/* Media Queries
************************************************************** */
@include media(">=phone", "<desktop") {
}
