/*
    https://create-react-app.dev/docs/adding-a-sass-stylesheet
    https://create-react-app.dev/docs/adding-bootstrap/
*/

@import "~bootstrap/scss/bootstrap";

/* Home
************************************************************** */
#home {
  p {
    margin: 2rem 0 2rem 0;
  }
}

/* Markdown
************************************************************** */
#markdown {
  textarea {
    resize: none;
  }
}

/* Calculator
************************************************************** */
#calc {
  .jumbotron {
    max-width: 50vw;
    #formula {
      height: 70px;
    }
  }
}

/* Clock
************************************************************** */
#clock {
  max-width: 60vw;
  .jumbotron {
    button {
      border: none;
    }
  }
}

/* Media Queries
************************************************************** */
@media only screen and (min-device-width: 320px) and (max-device-width: 320px) and (orientation: portrait) {
  #clock {
    .jumbotron {
      h3 {
        font-size: 1.15rem;
      }
    }
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 414px) and (orientation: portrait) {
  #calc {
    .jumbotron {
      min-width: 100vw;
      margin: 2rem 0 2.5rem 0;
      h1 {
        display: none;
      }
    }
  }
  #clock {
    max-width: 100%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  #drum {
    .jumbotron {
      margin: 5rem 0 5rem 0;
    }
  }
  #calc {
    .jumbotron {
      min-width: 100vw;
      margin: 2rem 0 2.5rem 0;
      h1 {
        display: none;
      }
    }
  }
  #clock {
    max-width: 80%;
    .jumbotron {
      margin: 4rem 0 5rem 0;
    }
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
  #home {
    h1 {
      font-size: 3rem;
    }
    p {
      margin: 0.5rem 0 0.5rem 0;
    }
  }
}
